@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes left {
    0% {
        transform: translatex(-300px);
    }
}

@keyframes right {
    0% {
        transform: translatex(300px);
    }
}

@keyframes up {
    0% {
        transform: translatey(300px);
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.zatemnenie {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(121, 110, 139, 0.664);
    z-index: 5;
    animation: show 1s 1;
}

.okno {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 55%;
    margin: auto;
    padding: 0 20px;
    border: 3px solid #b80f0f;
    border-radius: 10px;
    background: #fff;
}

.okno p {
    padding: 0;
}

.modal-show {
    display: block;
}

body {
    animation: show 3s 1;
}

.comment {
    display: block;
    margin: 0;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 60px;
}

.left-aside {
    height: 918px;
    text-align: left;
    padding-bottom: 0;
    animation: left 3s 1;
}

.right-aside {
    animation: right 3s 1;
}

.rezumat,
.music-button,
.close {
    width: 320px;
    padding: 20px;
    background: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #b80f0f;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
}

.music-button {
    margin-top: 120px;
}

.close {
    margin: 20px 0 0 350px;
    border: 1px solid #b80f0f;
}

.rezumat {
    display: none;
}

.rezumat:hover,
.rezumat:focus,
.music-button:hover,
.music-button:focus,
.close:hover,
.close:focus {
    color: #ffffff;
    background: #b80f0f;
    cursor: pointer;
    transform: scale(1.1);
}

.rezumat:active,
.sea-button:active,
.close:active {
    opacity: 0.5;
}

.NewLife {
    background-color: #46c4fe77;
}

.NewLife__title {
    text-align: center;
    font-size: 35px;
}

.tb_main_title {
    text-align: center;
    font-size: 30px;
    margin: 40px 0 0;
}

.tableas {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

.tableas th {
    font-size: 20px;
}

.tableas td {
    height: 50px;
    padding: 0 40px;
    font-size: 20px;
    border: 2px solid black;
    border-collapse: collapse;
}

.form-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

.form {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    font-size: 20px;
    border: 5px solid black;
    border-radius: 10px;
}

.form--add {
    border-color: rgb(24, 223, 6);
}

.form--add:hover, 
.form--add:focus {
    border-color: rgb(16, 190, 0);
}

.form--change {
    border-color: rgb(255, 192, 17);
}

.form--change:hover, 
.form--change:focus {
    border-color: rgb(214, 160, 13);;
}

.form--delete {
    border-color: #ff3737;
}

.form--delete:hover, 
.form--delete:focus {
    border-color: #b40606;
}

.form input{
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(44, 43, 43, 0.589);
}

.btn--add, 
.btn--change, 
.btn--delete {
    margin-top: 20px;
    padding: 10px 5px;
    border: 3px solid transparent;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    box-shadow: 0 0 10px rgba(44, 43, 43, 0.589);
}

.btn--add:active, 
.btn--change:active, 
.btn--delete:active {
    opacity: 0.5;
}

.btn--add {
    background-color: rgb(24, 223, 6);
}

.btn--add:hover, 
.btn--add:focus {
    background-color: rgb(16, 190, 0);
    border: 3px solid rgb(16, 163, 3);
}

.btn--change {
    background-color: rgb(255, 192, 17);
}

.btn--change:hover, 
.btn--change:focus {
    background-color: rgb(202, 151, 8);
    border: 3px solid rgb(177, 131, 6);
}

.btn--delete {
    background-color: #fc1919;
}

.btn--delete:hover, 
.btn--delete:focus {
    background-color: #ca1212;
    border: 3px solid #ad0808;
}

@media (min-width: 768px) {

    .comment {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .left-aside {
        height: 677px;
        text-align: center;
    }

    .rezumat,
    .music-button {
        width: 290px;
        margin-left: -20px;
    }
}

@media (min-width: 1440px) {
    body {
        background: url("../images/fon.png") no-repeat;
        background-size: 100%;
        background-attachment: fixed;
        opacity: 1;

        transition: opacity 1s linear;
    }
}

@media (min-width: 1900px) {

    .rezumat,
    .music-button {
        width: 310px;
    }

    .music-button {
        margin-top: 60px;
    }

    .rezumat {
        display: block;
    }
}